<ion-content>
  <ion-grid>
    <ion-row>
      <ion-label>{{min}}분 {{sec}}초</ion-label>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col>
        <img src="assets/imgs/palse.png" width="28px" height="28px">
      </ion-col>
      <ion-col (click)="goHome();">
        <img src="assets/imgs/exit.png" width="40px" height="30px">
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list padding>
    <ion-label class="header-title">
      운동현황
    </ion-label>
    <ion-label *ngIf="restTime==true">
      쉬는 시간
    </ion-label>
    <ion-item *ngFor="let fitness of fitnesses" class="fit-item">
      <ion-checkbox></ion-checkbox>
      <span item-start left>{{fitness.title}}</span>
      <span class="status" item-end right>{{fitness.status}}회</span>
    </ion-item>

  </ion-list>


</ion-content>