lastest {
  ion-scroll{
    overflow: scroll;
    white-space: nowrap; 
    height: 180px;
  }
  div.h-scroll{
    display: inline-block;
    white-space: nowrap;
  }

  img{
    margin: 10px; 
    display: inline-block;
  }
}
