// 헤더의 색상
.toolbar-background-md{
    background: #37b8dd;
}
// 뒤로가기버튼
.back-button-icon-md{
    color: #FFF;
}
//태그 스타일
.tag{
    background: #ccc;
    border-radius: 15px;
    font-size: 13px;
    margin-left:8px;
    color: rgba($color: #000000, $alpha: 0.7);
    padding:1px !important;
  }
  
.toolbar-title-ios,.toolbar-title-md{
    color: #FFF;
}
.title{
    font-size: 19px;
}

.header-title{
    font-size: 21px;
    opacity: 0.8;
    font-weight: bold;
}
.sub-title{
    font-size: 15px;
}
.fitness-title{
    font-size: 13px;
}
.detail-title{
    font-size: 11px;
}

.toolbar-title-md{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}